openapi: 3.2.0
info:
  title: Digital Asset Operator API
  version: 2.1.0
  description: 'Operations tagged operator across 2 of this provider''s published API definitions: digital-asset-utilities-openapi.yml, digital-asset-utilities-runtime-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.utilities.digitalasset.com
  description: MainNet
- url: https://api.utilities.digitalasset-staging.com
  description: TestNet
- url: https://api.utilities.digitalasset-dev.com
  description: DevNet
- url: http://localhost:8080
  description: Local
tags:
- name: operator
paths:
  /api/utilities/v0/openapi:
    servers:
    - url: https://api.utilities.digitalasset.com
      description: MainNet
    - url: https://api.utilities.digitalasset-staging.com
      description: TestNet
    - url: https://api.utilities.digitalasset-dev.com
      description: DevNet
    - url: http://localhost:8080
      description: Local
    get:
      tags:
      - operator
      operationId: getOpenApiSpec
      x-jvm-package: utility
      responses:
        '200':
          description: Returns the OpenApi specification
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '500':
          description: OpenApi specification is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/utilities/v0/operator:
    servers:
    - url: https://api.utilities.digitalasset.com
      description: MainNet
    - url: https://api.utilities.digitalasset-staging.com
      description: TestNet
    - url: https://api.utilities.digitalasset-dev.com
      description: DevNet
    - url: http://localhost:8080
      description: Local
    get:
      tags:
      - operator
      operationId: getOperator
      x-jvm-package: utility
      responses:
        '200':
          description: Returns the operator party
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOperatorResponse'
        '500':
          description: Operator party is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/utilities/v0/package/all:
    servers:
    - url: https://api.utilities.digitalasset.com
      description: MainNet
    - url: https://api.utilities.digitalasset-staging.com
      description: TestNet
    - url: https://api.utilities.digitalasset-dev.com
      description: DevNet
    - url: http://localhost:8080
      description: Local
    get:
      tags:
      - operator
      operationId: getAllPackages
      x-jvm-package: utility
      responses:
        '200':
          description: Returns package information that are in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllPackagesResponse'
        '500':
          description: Operator party is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/utilities/v0/contract/instrument-configuration/all:
    servers:
    - url: https://api.utilities.digitalasset.com
      description: MainNet
    - url: https://api.utilities.digitalasset-staging.com
      description: TestNet
    - url: https://api.utilities.digitalasset-dev.com
      description: DevNet
    - url: http://localhost:8080
      description: Local
    get:
      tags:
      - operator
      operationId: getAllInstrumentConfigurations
      x-jvm-package: utility
      responses:
        '200':
          description: Returns all instrument configurations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllInstrumentConfigurationsResponse'
        '500':
          description: Operator party is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/utilities/v0/contract/instrument-configuration:
    servers:
    - url: https://api.utilities.digitalasset.com
      description: MainNet
    - url: https://api.utilities.digitalasset-staging.com
      description: TestNet
    - url: https://api.utilities.digitalasset-dev.com
      description: DevNet
    - url: http://localhost:8080
      description: Local
    post:
      tags:
      - operator
      operationId: getInstrumentConfiguration
      x-jvm-package: utility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetInstrumentConfigurationRequest'
      responses:
        '200':
          description: Returns the instrument configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstrumentConfigurationResponse'
        '404':
          description: Instrument configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Operator party is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    GetInstrumentConfigurationRequest:
      type: object
      required:
      - registrar
      - instrumentIdentifier
      properties:
        registrar:
          type: string
          description: The registrar party id
        instrumentIdentifier:
          $ref: '#/components/schemas/InstrumentIdentifier'
    GetAllPackagesResponse:
      type: object
      required:
      - packages
      properties:
        packages:
          type: array
          items:
            $ref: '#/components/schemas/PackageDescriptor'
    GetAllInstrumentConfigurationsResponse:
      type: object
      required:
      - instrumentConfigurations
      properties:
        instrumentConfigurations:
          type: array
          description: All instrument configurations
          items:
            $ref: '#/components/schemas/InstrumentConfiguration'
    CredentialClaim:
      type: object
      required:
      - property
      - value
      properties:
        property:
          type: string
          description: The property of the claim
        value:
          type: string
          description: The value of the claim
    PartyCredentialRequirement:
      type: object
      required:
      - issuer
      - requiredClaims
      properties:
        issuer:
          type: string
          description: Required issuer of the credential
        requiredClaims:
          type: string
          description: Required (property, value) pairs that the holder has to have claims for as a subject
          items:
            $ref: '#/components/schemas/CredentialClaim'
    ContractMeta:
      type: object
      required:
      - contractId
      - templateId
      properties:
        createdAt:
          type: string
          format: date-time
        contractId:
          type: string
        templateId:
          type: string
        synchronizerId:
          type: string
          description: Preferred synchronizer identifier for disclosed contracts and contract metadata.
        domainId:
          type: string
          deprecated: true
          description: Deprecated alias of synchronizerId kept for backward compatibility.
    InstrumentConfiguration:
      type: object
      required:
      - contract
      - payload
      properties:
        contract:
          $ref: '#/components/schemas/ContractMeta'
        payload:
          $ref: '#/components/schemas/InstrumentConfigurationPayload'
    GetOperatorResponse:
      type: object
      required:
      - partyId
      properties:
        partyId:
          type: string
          description: The operator party id
    GetInstrumentConfigurationResponse:
      $ref: '#/components/schemas/InstrumentConfiguration'
    InstrumentConfigurationPayload:
      type: object
      required:
      - operator
      - provider
      - registrar
      - defaultIdentifier
      - additionalIdentifiers
      - issuerRequirements
      - holderRequirements
      properties:
        operator:
          type: string
          description: The operator party id
        provider:
          type: string
          description: The provider party id
        registrar:
          type: string
          description: The registrar party id
        defaultIdentifier:
          $ref: '#/components/schemas/InstrumentIdentifier'
        additionalIdentifiers:
          type: array
          description: Additional instrument identifiers
          items:
            $ref: '#/components/schemas/InstrumentIdentifier'
        issuerRequirements:
          type: array
          description: Credential requirements to mint/burn a given asset
          items:
            $ref: '#/components/schemas/PartyCredentialRequirement'
        holderRequirements:
          type: array
          description: Credential requirements to transfer/lock/unlock a given asset
          items:
            $ref: '#/components/schemas/PartyCredentialRequirement'
    Error:
      type: object
      description: 'A problem occurred with processing the request. For instance: syntactically invalid JSON body, missing required fields, etc.'
      required:
      - error
      - error_description
      properties:
        error:
          description: An error code, e.g. invalid_token
          type: string
          default: unknown_error
        error_description:
          description: A description of the error
          type: string
          default: Something went wrong
    InstrumentIdentifier:
      type: object
      required:
      - source
      - id
      - scheme
      properties:
        source:
          description: The entity that originally created or issued the identifier.
          type: string
        id:
          description: The identifier for the instrument
          type: string
        scheme:
          description: The scheme or standard used for the identifier.
          type: string
    PackageDescriptor:
      type: object
      description: Contains the package ids for a given package name
      required:
      - name
      - id
      properties:
        name:
          description: Name of the package
          type: string
        id:
          description: Package ID
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- digital-asset-utilities-openapi.yml
- digital-asset-utilities-runtime-openapi.yml
